.dfgit
.ssh/keys/
.ssh/id_*
.git-credentials
.solstudio
.netrc
.viminfo

# History
.zsh_history*
.bash_history*
.lesshst*
.zcompdump*

# Local files
.*_local
.proxy

# Directories
bak
desk
docs
downl
mail
media
notes
pics
pub
public_html
templ
tmp
ws
