/.dfgit
/.config/nvim/doc/tags
/.config/tc/wincmd.key
/.config/tc/wcx_ftp.ini
/.config/weechat/certs/*.pem
/.config/weechat/sec.conf
/.config/weechat/logs
/.config/weechat/xfer
/.config/weechat/*.log
/.config/yarn
/.yarnrc
/.ssh/keys
/.ssh/ctrl
/.ssh/agent
/.ssh/authorized_keys
/.ssh/known_hosts
/.ssh/id*
/.ssh/config_hosts
/.gnupg
/.git-credentials
/.gitcookies
/.gitdirs
/.solstudio
/.netrc
/.viminfo
/.cache
/.rnd
/.lpass
/.node

# History
/.zsh_history*
/.bash_history*
/.lesshst*
/.zcompdump*

# Local files
.*_local
/.proxy
/.local/share/nvim
/.local/bin
/.local/lib
/.local/go

# Directories
/bak
/blog
/desk
/docs
/downl
/mail
/media
/pics
/pub
/public_html
/sandbox
/tmp
/ws

# Misc
/.sudo_as_admin_successful
/.motd_shown
.mypy-cache

# Windows
/Application\ Data
/AppData/*
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json
