; ~/.gitconfig - Git configuration

[user]
	name = Ondrej Balaz
	email = blami@blami.net
	signingkey = 1FCD8C25

[sendemail]
	from = Ondrej Balaz <blami@blami.net>

[init]
	defaultbranch = main

[core]
	; Always exclude globally ignored files
	excludesfile = ~/.gitignore_global

[color]
	filemode = false
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
	pager = true

[commit]
	template = ~/.gitmessage

[merge]
	tool = nvim

[mergetool "vimdiff"]
	cmd = vim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c '$wincmd J'

[mergetool "nvim"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c '$wincmd J'

[rebase]
	autosquash = true

[push]
	; nothing   - do not push any branches
	; matching  - push all matching branches
	; upstream  - push the current branch to its upstream
	; current   - push the current branch to a branch of the same name
	; simple    - push the current branch to its upstream of the same name
	default = current

[pull]
	ff = only

[pack]
	packSizeLimit = 2g

[http]
	cookiefile = ~/.gitcookies

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
	path = ~/.gitaliases
	; Include local configuration file
	path = ~/.gitconfig_local
	; Include ~/.gitdirs file
	; NOTE: ~/.gitdirs contains ONLY includeIf statemens pointing to a 
	; per-directory configs:
	; [includeIf "gitdir:~/ws/work/"]
	;     path = ~/.gitconfig_work
	path = ~/.gitdirs


; vim:set ft=gitconfig:
