.dfgit
.ssh/keys/
.ssh/id_*
.git-credentials
.solstudio

# History
.zsh_history*
.bash_history*
.lesshst*

# Local files
.*_local

# Directories
bak
desk
docs
downl
mail
media
notes
pics
pub
public_html
templ
tmp
ws
