; ~/.gitconfig - Git configuration

[user]
	name = Ondrej Balaz
	email = blami@blami.net
	signingkey = 1FCD8C25

[sendemail]
	from = Ondrej Balaz <blami@blami.net>

[core]
	editor = vim
	excludesfile = /home/blami/.gitignore_global

[http]
	cookiefile = /mnt/c/Users/blami/.gitcookies

[color]
	filemode = false
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
	pager = true

[init]
	defaultbranch = main

[commit]
	template = ~/.gitmessage

[merge]
	tool = vimdiff

[mergetool "vimdiff"]
	cmd = vim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c '$wincmd J'

[push]
	# Push branches manually one by one
	default = simple

[pull]
	ff = only

[rebase]
	autosquash = true

[include]
	path = ~/.gitaliases
	# Include local configuration file
	path = ~/.gitconfig_local
	# Include ~/.gitdirs file
	# NOTE ~/.gitdirs contains ONLY includeIf statemens pointing to a 
	# per-directory configs:
	# [includeIf "gitdir:~/ws/work/"]
	#     path = ~/.gitconfig_work
	path = ~/.gitdirs


# vim:set ft=gitconfig:
