! {{{ Cursor
Xcursor.theme:          DMZ-Black
Xcursor.size:           16
! }}}

! {{{ Fonts
Xft.dpi:                96
Xft.antialias:          yes
Xft.hinting:            yes
Xft.autohint:           no
Xft.rgba:               rgb
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintslight
! }}}

! {{{ Colors
#include ".Xresources.colors"
! }}}

! {{{ URxvt
URxvt.termName:         xterm-256color
URxvt.loginShell:       false
URxvt.font:             xft:GoMono NF:pixelsize=14
URxvt.boldFont:         xft:GoMono NF:pixelsize=14
URxvt.inputMethod:      ibus
URxvt.print-pipe:       cat > /dev/null
URxvt.urgentOnBell:     true
URxvt.saveLines:        8192
! Scrollbar
URxvt.scrollBar:        true
URxvt.scrollstyle:      plain
URxvt.scrollTtyKeypress: true
URxvt.secondaryScreen:  true
URxvt.secondaryScroll:  false
! Extensions
URxvt.perl-lib:         $HOME/.urxvt/ext
URxvt.perl-ext-common:  matcher,font-size
!URxvt.underlineURLs:    false
URxvt.url-launcher:     x-www-browser
URxvt.matcher.button:   1

! Keybindings
URxvt.iso14755:         false
URxvt.iso14755_52:      false
URxvt.keysym.Home:      \033[1~
URxvt.keysym.End:       \033[4~
URxvt.keysym.C-S-):     perl:font-size:reset
URxvt.keysym.C-S-plus:  perl:font-size:increase
URxvt.keysym.C-S-minus: perl:font-size:decrease
! }}}
