[Unit]
Description=Add WSL2 Windows Host IP to /etc/hosts
After=default.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/wsl_hosts

[Install]
WantedBy=default.target
