# /etc/wsl.conf - WSL configuration

[boot]
systemd = true
# DO NOT let WSL handle binfmt; use /etc/binfmt.d/WSLInterop.conf instead
protect_binfmt = true

[automount]
enabled = true
mountFsTab = true
root = /mnt/
options = "metadata,umask=2,fmask=1,case=off"

[network]
generateHosts = true
generateResolvConf = true

[interop]
enabled = true

[user]
default = {{ my_user.username }}
